{% extends "/layout.html" %}

{% block styles %}
<style>
img.confirm {
    width: 300px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="span8 offset2" style="margin-top:100px">
            <h1>Not found <span>:(</span></h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>



{% endblock %}