{% extends "/layout.html" %}

{% block styles %}
<style>
img  {
    padding: 5px;
}

h5 {
    text-decoration: underline;
}


.thumbnail .caption {
    margin-left:15px;
    width:300px;
    margin-bottom:20px;
}


.thumbnail img{
    margin-left: 10px;
    width:300px;
    height:300px;
}

.thumbnail > li {
    width:300px;
    height:300px;
}

.thumbnail {
    text-align:left;
    width:300px;
    height:400px;
}

.thumbnail a,p {
    background-color: white;
}
</style>
{% endblock %}

{% block body %} 

<div class="row-fluid offset1">
    <h3>Translations</h3> 
    <hr>
        <ul class="thumbnails">
            {% if translations|length > 0 %}
                {% for t in translations %}   
                    <li>
                        <div class="thumbnail">
                            <a href="/translation/{{ t.slug }}"><img src={{ t.photo_link }}>
                            <div class="caption" style="">
                                "{{ t.title }}"</a>
                                <p style="color:black">{{ t.artist }}</br>[{{t.category}} translation]</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}  
            {% endif %}
        </ul>
</div>
</br>
</br>

{% endblock %}