{% extends "/layout.html" %}

{% block styles %}
<style>
img  {
    padding: 5px;
}

h5 {
    text-decoration: underline;
}

li a {
    color: black;
}

ul li img {
    padding-bottom: 7px;
    text-align: center;

}

.thumbnails img{
    margin-left: 10px;
    text-align: center;
}


</style>
{% endblock %}

{% block body %}    
</head>
    <body>
        <div class="hero-unit" align="center" style="padding-top:90px;padding-bottom:40px">
            <a href="/" align="center" style="margin-top:10">
                <img src="static/img/recode_logo.png">
            </a>
            <h2 align="center">THE RECODE PROJECT</h2>
            <p>An active archive of computer art.</p>
            <div class="pull-right">
                <a href="/translationslist/hasTranslation" style="color:#B10800">see completed works</a>
            </div>
        </div> 
        <!-- intro text --> 
        <div class="row-fluid">
            <div class="span4 offset1">
                </br>
                <p>
                The ReCode Project is a community-driven effort to preserve computer art by translating it into a modern programming language (<a href="http://processing.org" target="_blank">Processing</a>).
                </p>
                <p> 
                Every translated work will be available to the public and contemporary artists to learn from, share, and build on. 
                </p>
                <p>
                To participate, visit our <a href="https://github.com/matthewepler/ReCode_Project" target="_blank">GitHub repo</a>.
                </p>
                <p>List View of artworks: </br>
                    <a href="/translationslist/title">[by title]</a></br>
                    <a href="/translationslist/artist">[by artist]</a></br>
                    <a href="/translationslist/hasTranslation">[translated]</a></br>
                </p>
            </div>
            <div class="span6 offset1">
                <h3>Launch Event: Hackathon</h3>
                <p><strong>Saturday, November 17</strong></p>
                <p><strong>10am - 7pm</strong></p>
                <p><strong>721 Broadway, New York, NY 10003</strong></p>
                <p><strong><a href="http://webchat.freenode.net/" target="_blank">IRC Freenode</a> channel = #recodeproject</strong></p>
                <p>Sign-up for physical or virtual attendance at our <a href="http://recodeproject.eventbrite.com/" target="_blank">Eventbrite page</a></p>
            </div>
        </div>
 
        <!-- current projects text & jump links -->
        <div class="row-fluid">
            <div class="span10 offset1">
                <h3>Current Projects</h3>
                <p>
                    "Computer Graphics and Art" was a quartley magazine published between 1976 and 1978. We are using PDF copies of the entire run of the magazine as our starting point for the project. On the 17th of November, coders from around the world will gather to translate these works. The majority of them have no code published alongside the original result. There will be opportunity for a variety of interpretations and approaches, all of which can become the starting point for a new work. [ click on the images below to go to its github folder ]
                </p>
                <p>
                    After the hackathon event, we will be posting original and translated works on this site. Don't worry, we'll blast your Twittersphere when it happens.
                </p>
                <p>
                    PDFs come from <a href="http://dada.compart-bremen.de" target="_blank">compart</a> via <a href="http://rhizome.org/editorial/2012/sep/25/prosthetic-knowledge-picks-computer-graphics-art-1/" target="_blank">Rhizome</a>.
                </p>
                <p>
                    <a href="https://github.com/downloads/matthewepler/ReCode_Project/Computer_Graphics_and_Art_PDFs.zip">Download all issues </a>
                    or jump to a section using the links below to preview the contents of each issue.
                </p>
            <hr>
            <!-- jump links -->
            <div class="row">
                <div class="span3 offset1"</div>
                    <p>Vol.1 No.1 (unavailable)</p>
                    <p><a href="#12">Vol.1 No.2 (May, 1976)</a></p>
                    <p><a href="#13">Vol.1 No.3 (August, 1976)</a></p>
                    <p><a href="#14">Vol.1 No.4 (November, 1976)</a></p>
                </div>
                <div class="span3 offset1"</div>
                    <p><a href="#21">Vol.2 No.1 (February, 1977)</a></p>
                    <p><a href="#22">Vol.2 No.2 (May, 1977)</a></p>
                    <p><a href="#23">Vol.2 No.3 (August, 1977)</a></p>
                    <p><a href="#24">Vol.2 No.4 (November, 1977)</a></p>
                </div>
                <div class="span3 offset1"</div>
                    <p><a href="#31">Vol.3 No.1 (February, 1978)</a></p>
                    <p><a href="#32">Vol.3 No.2 (May, 1978)</a></p>
                    <p><a href="#33">Vol.3 No.3 (August, 1978)</a></p>
                    <p><a href="#34">Vol.3 No.4 (November, 1978)</a></p>
                </div>
            </div>
            <hr>
            </div>
        </div>


        <!-- card thumbnails -->
        <section id="thumbnails"> 
        <div class="container-fluid offset1">
        <div id="12"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.2 (May, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf" id="12">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n2"> [repo]</a></h5>
            </div>
            
            <ul class="thumbnails">  
            {% for a in artworks %}
                {% if a.source_detail == "v1n2" %}           
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>

        <div class="container-fluid offset1">   
        <div id="13"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.3 (August, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Aug1976.pdf" id="13">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n3"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v1n3" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>

        <div class="container-fluid offset1">   
        <div id="14"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.4 (November, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Nov1976.pdf" id="14">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n4"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v1n4" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>
        
        <div class="container-fluid offset1">       
        <div id="21"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.1 (February, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Feb1977.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n1"> [repo]</a></h5>
            </div>
            
            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v2n1" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>

        <div class="container-fluid offset1">          
        <div id="22"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.2 (May, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1977.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n2"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v2n2" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>
        
        <div class="container-fluid offset1">      
        <div id="23"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.3 (August, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Aug1977.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n3"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v2n3" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>
        
        <div class="container-fluid offset1">  
        <div id="24"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.4 (November, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Nov1977.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n4"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v2n4" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>
        
        <div class="container-fluid offset1">    
        <div id="31"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.1 (February, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Feb1978.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n1"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v3n1" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>
        
        <div class="container-fluid offset1">        
        <div id="32"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.2 (May, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1978.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n2"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v3n2" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>            
        
        <div class="container-fluid offset1">        
        <div id="33"></div>
            <div class="row">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.3 (August, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Aug1978.pdf">[PDF]</a> <a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n3"> [repo]</a></h5>
            </div>

            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v3n3" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br>   
        
        <div class="container-fluid offset1">            
        <div id="34"></div>
            <div class="row">
                    </br>
                    </br>
                    </br>
                    <h5>Vol.3 No.4 (November, 1978)<a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_Nov1978.pdf">[PDF]<a/><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n4"> [repo]</a></h5>
            </div>
            <ul class="thumbnails">
            {% for a in artworks %}
                {% if a.source_detail == "v3n4" %}                       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
                {% endif %}
            {% endfor %}  
            </ul>
        </div>
        </br>
        </br> 

    </section>
{% endblock %}

{% block scripts %}{% endblock %}