{% extends "/layout.html" %}

{% block styles %}
<style>
img  {
    padding: 5px;
}

h5 {
    text-decoration: underline;
}

li a {
    color: black;
}

ul li img {
    padding-bottom: 7px;
    text-align: center;

}

.thumbnails img{
    margin-left: 10px;
    text-align: center;
}


</style>
{% endblock %}

{% block body %}    
</head>
    <body>
        <div class="hero-unit" align="center" style="padding-top:90px;padding-bottom:40px">
            <a href="/" align="center" style="margin-top:10">
                <img src="static/img/recode_logo.png">
            </a>
            <h2 align="center">THE RECODE PROJECT</h2>
            <p>An active archive of computer art.</p>
        </div> 
        <!-- intro text --> 
        <div class="row-fluid">
            <div class="span4 offset1">
                </br>
                <p>
                The ReCode Project is a community-driven effort to preserve computer art by translating it into a modern programming language (<a href="http://processing.org" target="_blank">Processing</a>).
                </p>
                <p> 
                Every translated work will be available to the public and contemporary artists to learn from, share, and build on. 
                </p>
                <p>
                To participate, visit our <a href="https://github.com/matthewepler/ReCode_Project" target="_blank">GitHub repo</a>.
                </p>
            </div>
            <div class="span6 offset1">
                <h3>Launch Event: Hackathon</h3>
                <p><strong>Saturday, November 17</strong></p>
                <p><strong>10am - 7pm</strong></p>
                <p><strong>721 Broadway, New York, NY 10003</strong></p>
                <p><strong><a href="http://webchat.freenode.net/" target="_blank">IRC Freenode</a> channel = #recodeproject</strong></p>
                <p>Sign-up for physical or virtual attendance at our <a href="http://recodeproject.eventbrite.com/" target="_blank">Eventbrite page</a></p>
            </div>
        </div>
        <!-- current projects text & jump links -->
        <div class="row-fluid">
            <div class="span10 offset1">
                <h3>Current Projects</h3>
                <p>
                    "Computer Graphics and Art" was a quartley magazine published between 1976 and 1978. We are using PDF copies of the entire run of the magazine as our starting point for the project. On the 17th of November, coders from around the world will gather to translate these works. The majority of them have no code published alongside the original result. There will be opportunity for a variety of interpretations and approaches, all of which can become the starting point for a new work. [ click on the images below to go to its github folder ]
                </p>
                <p>
                    After the hackathon event, we will be posting original and translated works on this site. Don't worry, we'll blast your Twittersphere when it happens.
                </p>
                <p>
                    PDFs come from <a href="http://dada.compart-bremen.de" target="_blank">compart</a> via <a href="http://rhizome.org/editorial/2012/sep/25/prosthetic-knowledge-picks-computer-graphics-art-1/" target="_blank">Rhizome</a>.
                </p>
                <p>
                    <a href="https://github.com/downloads/matthewepler/ReCode_Project/Computer_Graphics_and_Art_PDFs.zip">Download all issues </a>
                    or jump to a section using the links below to preview the contents of each issue.
                </p>
            <hr>
            <!-- jump links -->
            <div class="row">
                <div class="span3 offset1"</div>
                    <p>Vol.1 No.1 (unavailable)</p>
                    <p><a href="#12">Vol.1 No.2 (May, 1976)</a></p>
                    <p><a href="#13">Vol.1 No.3 (August, 1976)</a></p>
                    <p><a href="#14">Vol.1 No.4 (November, 1976)</a></p>
                </div>
                <div class="span3 offset1"</div>
                    <p><a href="#21">Vol.2 No.1 (February, 1977)</a></p>
                    <p><a href="#22">Vol.2 No.2 (May, 1977)</a></p>
                    <p><a href="#23">Vol.2 No.3 (August, 1977)</a></p>
                    <p><a href="#24">Vol.2 No.4 (November, 1977)</a></p>
                </div>
                <div class="span3 offset1"</div>
                    <p><a href="#31">Vol.3 No.1 (February, 1978)</a></p>
                    <p><a href="#32">Vol.3 No.2 (May, 1978)</a></p>
                    <p><a href="#33">Vol.3 No.3 (August, 1978)</a></p>
                    <p><a href="#34">Vol.3 No.4 (November, 1978)</a></p>
                </div>
            </div>
            <hr>
            </div>
        </div>
        <!-- card thumbnails -->
        <div id="12"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.2 (May, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf" id="12">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n2"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails">                   
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/01.png"><p>Manfred Mohr (cover)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/02.png"><p>Howard Fegarsky (pg. 3)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/03.png"><p>Charles Fritchie, Robert Morriss (pg. 5, 32)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/04.png"><p>Herbert Franke (pg. 6)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/05.png"><p>Charles Csuri (pg. 6)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/06.png"><p>Charles Csuri (pg. 7)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/07.png"><p>Manuel Barbadillo (pg. 11)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/08.png"><p>Miroshi Kawano (pg. 12)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/09.png"><p>Kenneth Knowlton (pg. 13)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/10.png"><p>Kenneth Knowlton (pg. 13)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/11.png"><p>Manfred Mohr (pg. 14)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/12.png"><p>Georg Nees (pg. 15)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/13.png"><p>Georg Nees (pg. 15)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/14.png"><p>John Roy (pg. 16)</p>
                    </div>
                </li>
 
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/15.png"><p>Edward Zajec (pg. 16)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/16.png"><p>Zdenek Sykora (pg. 17)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/17.png"><p>Roger Vilder (pg. 17)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/18.png"><p>Georg Nees (pg. 19)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/19.png"><p>Lawrence J. Mazlack (pg. 18-24)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/20.png"><p>Jean-Claude Marquette (pg. 26)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/21.png"><p>Jean-Claude Marquette (pg. 26)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/22.png"><p>Sture Johannesson and Sten Kallin (pg. 26)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/23.png"><p>Herbert Franke (pg. 27)</p>
                    </div>
                </li>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/24.png"><p>Klaus Basset (pg. 27)</p>
                    </div>
                </li>
            </div>
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/25.png"><p>Herbert Franke (pg. 29)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n2/26.png"><p>Grace Hertlein (pg. 31)</p>
                    </div>
                </li>
            </div>
            </ul>
            </br>
        <div id="13"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.3 (August, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf" id="13">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n3"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails" name="14">                   
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/01.png"><p>Waldemar Cordeiro (cover)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/02.png"><p>Barbara Dwyer (pg. 3)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/03.png"><p>Alfred Bork (pg. 15)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/04.png"><p>Kai Chu (pg. 18-22)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/05.png"><p>Roger Coqart (pg. 24)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/06.png"><p>Roger Coqart (pg. 25)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/07.png"><p>Roger Coqart (pg. 25)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/08.png"><p>Belfort Group (pg. 28, 31)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/09.png"><p>Belfort Group (pg. 28, 31)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/10.png"><p>Belfort Group (pg. 29)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/11.png"><p>Belfort Group (pg. 29)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/12.png"><p>Belfort Group (pg. 30, 31)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/13.png"><p>Belfort Group (pg. 30)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/14.png"><p>Belfort Group (pg. 30)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/15.png"><p>Belfort Group (pg. 31)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n3/16.png"><p>Belfort Group (pg. 32, 33)</p>
                    </div>
                </li>
            </div>
            </ul>
        <div id="14"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.1 No.4 (November, 1976) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf" id="14">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v1n4"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/01.png"><p>W. G. Wolfgang (cover)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/02.png"><p>Frieder Nake (pg. 6, 7)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/03.png"><p>Manfred Mohr (pg. 6)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/04.png"><p>Jean H. Bevis (pg. 8)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/05.png"><p>Manfred Mohr (pg. 8)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/06.png"><p>Jean H. Bevis (pg. 9)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/07.png"><p>W. G. Wolfgang (pg. 10-17)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/08.png"><p>Reiner Schneeberger (pg. 28)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/09.png"><p>Reiner Schneeberger (pg. 29)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/10.png"><p>Reiner Schneeberger (pg. 30)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v1n4/11.png"><p>Reiner Schneeberger (pg. 31)</p>
                    </div>
                </li>
            </div>
            </ul>
        <div id="21"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.1 (February, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n1"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/01.png"><p>Vera Molnar (cover)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/02.png"><p>Steven H. Cullinane (pg. 5-7)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/03.png"><p>Geoffrey Dutton (pg. 17)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/04.png"><p>Analivia Cordeiro (pg. 27-31)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/05.png"><p>Lillian Schwartz (pg. 32)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/06.png"><p>Otto Beckmann (pg. 33)</p>
                    </div>
                </li>
            </div>
            
            <div class="row-fluid span9 offset1">   
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/07.png"><p>COMPUTAKNIT (pg. 34)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/08.png"><p>Grace Hertlein (pg. 34)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n1/09.png"><p>Grace Hertlein (pg. 34)</p>
                    </div>
                </li>
            </div>
            </ul>
        <div id="22"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.2 (May, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n2"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/01.png"><p>James Ver Hague (cover)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/02.png"><p>Kenneth Knowlton (pg. 4-12)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/03.png"><p>Kenneth Knowlton (pg. 9)</p>
                        </div>
                </li>
            </div>
            
            <div class="row-fluid span9 offset1">   
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/04.png"><p>Aldo Giorgini (pg. 12)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/05.png"><p>Kerry Jones (pg. 33)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/06.png"><p>James R. Warner (pg. 33)</p>
                        </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/07.png"><p>Tony Martin (pg. 34)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/08.png"><p>James R. Warner (pg. 34)</p>
                        </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n2/09.png"><p>Belfort Group (pg. 35)</p>
                        </div>
                </li>
            </div>
            </ul>
        <div id="23"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.3 (August, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n3"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/01.png"><p>Mutsuko K. Sasaki (cover)</p>
               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/02.png"><p>Vladimir Bonačic (pg. 4, 8)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/03.png"><p>Vladimir Bonačic (pg. 5)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/04.png"><p>Vladimir Bonačic (pg. 5)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/05.png"><p>Vladimir Bonačic (pg. 9)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/06.png"><p>William Kolomyjec (pg. 10)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/07.png"><p>William Kolomyjec (pg. 11)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/08.png"><p>William Kolomyjec (pg. 11, 12)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/09.png"><p>William Kolomyjec (pg. 13)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/10.png"><p>William Kolomyjec (pg. 14-15)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/11.png"><p>Grace C. Hertlein (pg. 27)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/12.png"><p>Edward Zajec (pg. 28)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/13.png"><p>John Roy (pg. 28)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/14.png"><p>Herbert W. Franke (pg. 29)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/15.png"><p>Grace C. Hertlein (pg. 30)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/16.png"><p>Unknown (pg. 31)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/17.png"><p>Grace C. Hertlein (pg. 31)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/18.png"><p>Jose Alexanco (pg. 32)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n3/19.png"><p>Edward Zajec (pg. 32)</p>
                    </div>
                </li>

                    </div>
                </li>
            </div>
            </ul>
        <div id="24"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.2 No.4 (November, 1977) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v2n4"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/01.png"><p>Roger Coqart (cover)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/02.png"><p>Alex Makarovitsch (pg. 4)</p>
                    </div>
                </li>
               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/03.png"><p>Alex Makarovitsch (pg. 5-7)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/04.png"><p>Edward Zajec (pg. 21)</p>
                    </div>
                </li>
               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/05.png"><p>Edward Zajec, M. Hmeljak (pg. 22-25)</p>
                    </div>
                </li>
               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/06.png"><p>Joy Pearson (pg. 31)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/07.png"><p>William Kolomyjec (pg. 32)</p>
                    </div>
                </li>
               
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v2n4/08.png"><p>Grace C. Hertlein (pg. 35)</p>
                    </div>
                </li>

            </div>
            </ul>
        <div id="31"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.1 (February, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n1"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/01.png"><p>unknown (cover)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/02.png"><p>E. T. Manning (pg. 5)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/03.png"><p>Manfred Mohr (pg. 6)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/04.png"><p>Manfred Mohr (pg. 7)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/05.png"><p>Manfred Mohr (pg. 7)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/06.png"><p>Manfred Mohr (pg. 8)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/07.png"><p>Manfred Mohr (pg. 9)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/08.png"><p>Ramon J. Masters (pg. 13)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/09.png"><p>Ramon J. Masters (pg. 14)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/10.png"><p>Ramon J. Masters (pg. 14)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/11.png"><p>Ramon J. Masters (pg. 16)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/12.png"><p>Ramon J. Masters (pg. 17)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/13.png"><p>Ramon J. Masters (pg. 18)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/14.png"><p>Ramon J. Masters (pg. 19)</p>
                    </div>
                </li>

               <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n1/15.png"><p>James Ver Hague (pg. 21)</p>
                    </div>
                </li>
            </div>
            </ul>
        <div id="32"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.2 (May, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n2"> [repo]</a></h5>
            </div>
            </div>
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/01.png"><p>Dick Land, Dan Cohen (cover, 4-7)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/02.png"><p>Sten Kallin (pg. 9)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/03.png"><p>Mutsuko Kunii Sasaki (pg. 10)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">    
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/04.png"><p>Peter Milojevic (pg. 11)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/05.png"><p>Hans Korneder (pg. 12)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/06.png"><p>Hans Korneder (pg. 13)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/07.png"><p>Hans Korneder (pg. 13)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/08.png"><p>Hans Korneder (pg. 13)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/09.png"><p>Hans Korneder (pg. 14)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/10.png"><p>Hans Korneder (pg. 14)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/11.png"><p>Hans Korneder (pg. 14)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/12.png"><p>Hans Korneder (pg. 14-15)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/13.png"><p>Hans Korneder (pg. 15)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/14.png"><p>Hans Korneder (pg. 15)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/15.png"><p>Aaron Marcus (pg. 16)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/16.png"><p>Aaron Marcus (pg. 16)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/17.png"><p>Aaron Marcus (pg. 17)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/18.png"><p>Aaron Marcus (pg. 17)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/19.png"><p>Reiner Schneeberger (pg. 20)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/20.png"><p>Reiner Schneeberger (pg. 21)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/21.png"><p>Reiner Schneeberger (pg. 22)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/22.png"><p>Reiner Schneeberger (pg. 22)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/23.png"><p>Reiner Schneeberger (pg. 23)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/24.png"><p>Reiner Schneeberger (pg. 23)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/25.png"><p>Reiner Schneeberger (pg. 24)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/26.png"><p>Reiner Schneeberger (pg. 24)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/27.png"><p>Reiner Schneeberger (pg. 25)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/28.png"><p>Reiner Schneeberger (pg. 27)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/29.png"><p>Roger Coqart (pg. 30)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/30.png"><p>Roger Coqart (pg. 30)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/31.png"><p>Vera Molnar (pg. 31)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/32.png"><p>Vera Molnar (pg. 31)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/33.png"><p>Vera Molnar (pg. 31)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/34.png"><p>Vera Molnar (pg. 31)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/35.png"><p>Paul Shao, Ken Dunker (pg. 32)</p>
                    </div>
                </li>

                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/36.png"><p>Duane Palyka (pg. 33)</p>
                    </div>
                </li>
            </div>
             
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n2/37.png"><p>Edvard Zajec, Matjaz Hmeljak (pg. 34)</p>
                    </div>
                </li>
            </div>
            </ul>  
        <div id="33"></div>
            <div class="row">
            <div class="span12 offset1" style="padding-left:30px">
                </br>
                </br>
                </br>
                <h5>Vol.3 No.3 (August, 1978) <a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]</a> <a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n3"> [repo]</a></h5>
            </div>
            </div>  
            <ul class="thumbnails"> 
            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/01.png"><p>Goran Sundqvist (cover)</p>
                
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/02.png"><p>Mutsuko Sasaki (pg. 4-5)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/03.png"><p>Mutsuko Sasaki (pg. 5-8)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/04.png"><p>Mutsuko Sasaki (pg. 6)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/05.png"><p>Mutsuko Sasaki (pg. 7-8)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/06.png"><p>Mutsuko Sasaki (pg. 9)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/07.png"><p>Mutsuko Sasaki (pg. 9)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/08.png"><p>Mutsuko Sasaki (pg. 9)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/09.png"><p>Mutsuko Sasaki (pg. 10)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/10.png"><p>Mutsuko Sasaki (pg.11)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/11.png"><p>Ken Knowlton (pg. 29)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/12.png"><p>Jacques Dupre (pg. 29)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/13.png"><p>Klaus Basset (pg. 30)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/14.png"><p>Klaus Basset (pg. 30)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/15.png"><p>Manfred Mohr (pg. 30)</p>
                    </div>
                </li>
            </div>

            <div class="row-fluid span9 offset1">
                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/16.png"><p>Richard Land, Dan Cohen (pg. 31)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/17.png"><p>Charles J. Fritchie, Robert Morriss (pg. 31)</p>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img src="/static/img/cards/v3n3/18.png"><p>Otto Beckmann (pg. 32)</p>
                    </div>
                </li>
            </div>
            </ul>
        <div id="34"></div>
            <div class="row">
                <div class="span12 offset1" style="padding-left:30px">
                    </br>
                    </br>
                    </br>
                    <h5>Vol.3 No.4 (November, 1978)<a href="https://github.com/downloads/matthewepler/ReCode_Project/COMPUTER_GRAPHICS_AND_ART_May1976.pdf">[PDF]<a/><a href="https://github.com/matthewepler/ReCode_Project/tree/master/Computer_Graphics_and_Art/v3n4"> [repo]</a></h5>
                </div>
            </div>
            <ul class="thumbnails"> 
                <div class="row-fluid span9 offset1">
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="/static/img/cards/v3n4/01.png"><p>William Kolomyjec (cover)</p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail">
                            <img src="/static/img/cards/v3n4/02.png"><p>William Kolomyjec (pg. 18)</p>
                        </div>
                    </li>

                    <li class="span3">
                        <div class="thumbnail">
                            <img src="/static/img/cards/v3n4/03.png"><p>William Kolomyjec (back cover)</p>
                        </div>
                    </li>
                </div>
            </ul>
    </br>
    </br>

{% endblock %}

{% block scripts %}{% endblock %}