{% extends "/layout.html" %}


{% block styles %}
<style>
img  {
    padding: 5px;
}

h5 {
    text-decoration: underline;
}


.thumbnail .caption {
    margin-left:15px;
    width:300px;
}


.thumbnail img{
    margin-left: 10px;
    width:300px;
    height:300px;
}

.thumbnail > li {
    width:300px;
    height:300px;
}

.thumbnail {
    text-align:left;
    width:300px;
    height:400px;
}
</style>
{% endblock %}



{% block body %}

<div class="row-fluid offset1">

    <div class="row" style="margin-top:100px">
        <p>{{ error_str }}</p>
        <p>Results for "{{ search_str }}"</p>
    </div>

    <h3>Artworks</h3>
    <hr>
        <ul class="thumbnails">
            {% if artworks|length > 0 %}
                {% for a in artworks %}   
                    <li>
                        <div class="thumbnail">
                            <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}>
                            <div class="caption">
                                "{{ a.title }}"</a>
                                <p style="color:black">{{ a.artist }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %} 
            {% endif %}
        </ul>
</div>

</br>

<div class="row-fluid offset1">
    <h3>Translations</h3> 
    <hr>
        <ul class="thumbnails">
            {% if translations|length > 0 %}
                {% for t in translations %}   
                    <li>
                        <div class="thumbnail">
                            <a href="/translation/{{ t.slug }}"><img src={{ t.photo_link }}>
                            <div class="caption" style="">
                                "{{ t.title }}"</a>
                                <p style="color:black">{{ t.artist }}</p>
                                <p style="color:black">({{t.category}})</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}  
            {% endif %}
        </ul>
</div>
</br>
</br>

{% endblock %}