{% extends "/layout.html" %}


{% block body %}

<div class="container">
	<div class="span10 offset1" style="margin-top:100px">
		<h2>{{translation.title}}</h2>
		<h3>{{ translation.artist }}</h3>
	</br>
		<p>based on: <a href="/artwork/{{ orig.slug }}">{{ orig.title }}</a> by {{ orig.artist }}, {{ orig.date }}</p>
		<hr style="margin:20px 0px 0px 0px">
		</br>
	

<script src='/static/js/processing.js'></script>
<script type='text/processing' data-processing-target='mycanvas'>

{{ translation.code|safe }}

</script>

<canvas id='mycanvas' width='1000' height='1000' style='margin-top:8%;margin-left:40%;margin-bottom:100px'></canvas>

	</br>
		<pre>
		{{ translation.code }}	
		</pre>
	</div>
</div>

{% endblock %}