{% extends "/layout.html" %}

{% block styles %}

<style type="text/css">

.moveover {
	margin-left:0px;
}

</style>

{% endblock%}

{% block body %}

<script type="text/javascript" src="/static/js/processing-1.4.1.min.js"></script>

<div class="row">
<div id="basic-info" class="span8 offset3" style="margin-top:100px">
	<div class="row-fluid">
		<h2>{{translation.title}}</h2>
		<h3><a href="{{ translation.artist_url }}" target="_blank">{{ translation.artist }}</a></h3>
		</br>
		<p><strong>Based on: </strong><a href="/artwork/{{ orig.slug }}">{{ orig.title }}</a> by {{ orig.artist }}, {{ orig.date }}</p>
		<p><strong>Category: </strong>{{ translation.category }}
		</p>
		</br>
		<p><strong>Description: </strong></p>
		{% for line in descriptionList %}
			<p>{{ line }}</p>
		{% endfor %}
		<hr style="margin:20px 0px 0px 0px">
		</br>
		</br>
	</div>
</div>
</div>

<div id="sketch-block" class="row offset3" >
	{% if translation.js == True %}	
		<script type="application/processing" target="sketch">{{translation.code|safe}}</script>
		<canvas id="sketch" name="sketch" style="border:1px solid black; image-rendering: -webkit-optimize-contrast	!important;"></canvas>
	{% elif translation.video|length > 5 %} <!-- for first round of translations -->
		{{ translation.video|safe }}
		<div id="orig-code" style="margin-top:40px">
			<pre>{{ translatsion.code }}</pre>
		</div>
	{% else  %}
		<img src={{ translation.photo_link }} style="align:center">
		<div id="orig-code" style="margin-top:40px">
			<pre>{{ translation.code }}</pre>
		</div>
	{% endif %}
</div>
<br>
<br>

<div id="code-block" class="row-fluid">
	<div id="orig-code" class="span8 offset2">
		<button id="edit" class="btn pull-right" data-toggle="button">Edit In Browser</button>
		<pre >{{ translation.code }}</pre>
	</div>
	<div id="new-code" class="">
		<textarea id="new-code" rows="57" cols="50"></textarea>
	</div>
</div>
<br>
<br>
{% endblock %}



{% block scripts %}

<script type="text/javascript">
$(document).ready(function(){
	$('#new-code').hide();
	$('#edit').click(function(){
		$('#sketch').toggleClass('offset3');
		$('#orig-code').toggleClass('span5 offset1');
		$('#new-code').show();
		$('#new-code').toggleClass('span5');
		$('textarea').css('width', '510px')
	});
});
</script>

{% endblock %}