{% extends "/layout.html" %}

{% block styles %}
{% endblock %}

{% block body %}

<section id="thumbnails" style="margin-top:100px"> 
        <div class="container-fluid offset1">
			<ul class="thumbnails">  
            {% for a in artworks %}       
                    <li class="span4">
                    <div class="thumbnail">
                    <a href="/artwork/{{ a.slug }}"><img src={{ a.photo_link }}><p>{{ a.artist }}</p>
                    </a>
                    </div>
                    </li>  
            {% endfor %}  
            </ul>
        </div>
</section>
        </br>
        </br>
{% endblock %}